.hero {
  height: 95%;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  .hero-txt{
    align-self: center;
  }
  .hero-link {
    margin-bottom: 1em;
    background-color: $black;
    padding: .5em;
    margin-top: 3em;

    } //end .hero-link
} // end .hero


// .hero Animations
.hero-link h4 div {
   color: black;
   font-size: 2em;
    animation: move 2.5s 3s ease infinite;

 }

 @keyframes move {
   50% {
      transform: translate(0px, 1em);
   }
 }
 .fi-arrow-down {
   color: #3c4347;

 }
