
#what {
  background-color: #333;
  color: white;
  height:100vh;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .what-title {
    padding-bottom: 3em;

    font-weight: bold;
  }
  .what-title,h2 {
    font-size: 1.8em;
  }
  .fi {
    padding: 0px 1em;
    font-size: 3em;
  }
} // END #what
