.top-bar,
.top-bar ul li a,
.top-bar-left ul li {
  font-weight: bolder;
  color: #e45011;
  background-color: white;
}

.hero {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 95%;
  background-color: #0578a3;
  text-shadow: 2px 2px 8px #222;
}

.hero .hero-text {
  width: 100%;
  margin: auto;
  padding: 10px;
  color: white;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.hero .hero-text h1 {
  font-weight: bolder;
}

.hero .hero-text h1 span {
  color: #e45011;
}

.hero .hero-text button {
  color: white;
  border-width: 3px;
  border-color: white;
  border-radius: 10px;
  background-color: transparent;
}

.hero .hero-text #contact {
  font-weight: bolder;
  color: #0578a3;
  background-color: white;
}

.hero .hero-text #contact:hover {
  color: white;
  background-color: #0578a3;
}

.hero .hero-text #see-more {
  font-weight: bold;
  color: #222;
  border-color: #222;
  background-color: #e45011;
}

.hero .hero-text #see-more:hover {
  color: #e45011;
  background-color: #222;
}

#services h1 {
  font-weight: bolder;
  margin-bottom: 0;
  color: white;
  background-color: #e45;
  text-shadow: 2px 2px 8px #222;
}

.drinks-area #soda {
  padding: 10px 0;
  background-color: #0578a3;
}

.drinks-area #soda span img {
  max-height: 150px;
}

/** This should be in a media query next to the soda
#ship {
  h3{
    background-color: $primary-color;
    color: white;
  }
  img {
    width: 150px;
    height: 150px;
    max-width: 100%;
    padding: 10px;
    border-color: $primary-color;
  }
  span {
    border-style: solid;
    border-width: 6px;
    border-radius: 6px;
    border-color: $primary-color;
  }
}

**/
#what {
  color: #0578a3;
  background-color: #222;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#what h1 {
  font-weight: bolder;
  margin-bottom: 0;
  padding-top: 10px;
  text-shadow: 1px 1px 5px black;
}

#what h1 span {
  color: #e45011;
}

#what .fi {
  font-size: 2.5rem;
  padding: 0 10px;
}

#what #ux {
  margin-bottom: 0;
  padding-bottom: 15px;
}

#what blockquote {
  border-left: 0;
}

.button.hollow.secondary {
  font-weight: bold;
  margin: 30px 5px;
  border-width: 3px;
  border-radius: 10px;
}

#playground:hover {
  color: white;
  border-width: 5px;
  border-color: white;
  background-color: #e45;
}

#who {
  color: white;
  background: #222;
}

#who #profile {
  padding: 10px;
  border-radius: 100%;
}

#who h1 {
  font-weight: bolder;
  padding-top: 10px;
  color: #e45;
  text-shadow: 4px 4px 5px black;
}

#who p {
  font-size: 1.2em;
  padding: 20px;
}

#who span {
  font-weight: bold;
  color: #e45;
}

#who button {
  font-weight: bolder;
  margin: 30px 5px;
  color: #e45;
  border-width: 3px;
  border-color: #e45;
  border-radius: 10px;
  background-color: transparent;
  background-color: #222;
}

#who button:hover {
  color: #222;
  border-color: #222;
  background-color: #e45;
}

footer {
  color: white;
  background: #222;
  text-shadow: 4px 4px 5px black;
}

footer h4 {
  font-weight: bold;
  padding-top: 15px;
}

footer a i {
  font-size: 2.2rem;
  padding: 0 10px;
  color: white;
}

footer a i:hover {
  color: #e45;
}

@media screen and (min-width: 40em) {
  .hero {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #0578a3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero .hero-text {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .hero .hero-text h1,
  .hero .hero-text h3 {
    padding: 0 15%;
    color: white;
  }
  .hero .hero-text hr {
    width: 25em;
  }
  .drinks-area {
    background-color: rgba(5, 120, 163, 0.74);
  }
  .row {
    width: 100%;
  }
  #who h1 {
    margin: 0 50px;
    padding-left: 20px;
  }
  #who #profile {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px 50px;
  }
}
