//variables
$primary-color: #0578a3;
$secondary-color: #e45011;
$primary-font: white;
$secondary-font: #222;
$pinkish: #e45;
$quote-gray: #8a8a8a;

.top-bar, .top-bar ul {
font-weight: bolder;
background-color: $secondary-font;
color: $secondary-color;

}
a {
color: $primary-color;
}


//Styles for mobile

.hero{
  display: flex;
  height: 95%;
  background-color: $primary-color;
  text-shadow: 2px 2px 8px $secondary-font;
.hero-text {
  width: 100%;
  margin: auto;
  align-self: center;
  padding: 10px;
  color: $primary-font;
  h1 {
  font-weight: bolder;
  span {
    color: $secondary-color;
  }

}
  button {
    background-color:transparent;
    border-color: white;
    color: white;
    border-radius: 10px;
    border-width: 3px;
}
#contact{
    font-weight: bolder;
    color: $primary-color;
    background-color: white;
  }
  #contact:hover {
    background-color: $primary-color;
    color: white;
  }

#see-more {
    background-color: $secondary-color;
    border-color: $secondary-font;
  a {
    color: $secondary-font;
    font-weight: bold;
  }
}
#see-more:hover{
  background-color: $secondary-font;
  a {
    color: $secondary-color;
  }
}

}

} //ENDS .hero-img

#services h1{
  color: white;
  font-weight: bolder;
  background-color: $pinkish;
  text-shadow: 2px 2px 8px #222;
  margin-bottom: 0;
}
.drinks-area #soda {
  background-color: $primary-color;
  padding: 10px 0px;
 span img {
  max-height: 150px;

  }
}

/** This should be in a media query next to the soda
#ship {
  h3{
    background-color: $primary-color;
    color: white;
  }
  img {
    width: 150px;
    height: 150px;
    max-width: 100%;
    padding: 10px;
    border-color: $primary-color;
  }
  span {
    border-style: solid;
    border-width: 6px;
    border-radius: 6px;
    border-color: $primary-color;
  }
}

**/

#what, #what-description,
.resume-button-c {
  color: $primary-color;
  background-color: $secondary-font;
  display: flex;
  justify-content: center;
  h1{
    padding-top: 10px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-shadow: 1px 1px 5px black;
    span {
    color: $secondary-color;
    }
  }
  .fi{
  font-size: 2.5rem;
  padding: 0 10px;
  }
  #ux{
    padding-bottom: 15px;
    margin-bottom: 0px;
  }
  blockquote {
  border-left: 0;
  }
}


.resume-button-c #resume-button{
  margin: 30px 5px;
  border-color: $primary-color;
  color: $primary-color;
  border-radius: 10px;
  border-width: 3px;
  font-weight: bolder;
  background-color: $secondary-font;
  }
  .resume-button-c:hover {
  color: $secondary-font;
  background-color: $primary-color;
  border-color: $primary-color;
  }


#who{
  background: $secondary-font;
  color: white;
  #profile{
    border-radius: 100%;
  }
  h1{
    color: $pinkish;
    padding-top: 10px;
    font-weight: bolder;
    text-shadow: 4px 4px 5px black;
  }
  p {
    font-size: 1.2em;
    padding: 20px;
  }
  span {
    font-weight: bold;
    color: $pinkish;
  }

  button{
    background-color:transparent;
    margin: 30px 5px;
    border-color: $pinkish;
    color: $pinkish;
    border-radius: 10px;
    border-width: 3px;
    font-weight: bolder;
    background-color: $secondary-font;
  }
  button:hover {
  border-color: $secondary-font;
  background-color: $pinkish;
  color: $secondary-font;

  }


  }

footer{
  background: $secondary-font;
  color: white;
  text-shadow: 4px 4px 5px black;

  h4{
    font-weight: bold;
    padding-top: 15px;
  }
  a i{
      color: white;
      font-size: 2.2rem;
      padding: 0 10px;
    }
    a i:hover{
      color: $pinkish;
    }
}


//Media Queries
@media screen and (min-width: 40em) {
//this is the hero img

.hero {
  display: flex;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(5, 120, 163, 1)), url('img/horse.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .hero-text {
  align-self: center;
  h1, h3 {
    color: white;
    padding: 0 15%;
  }
  hr {
    width: 25em;
  }
}
} //ends hero

.drinks-area{
 background-color:  rgba(5,120,163,0.74);
}

.row {
  width: 100%;
}

//This is for the about
#who {
h1 {
margin: 0 50px;
}
#profile {
  margin: 10px 50px;
  height: 200px;
  width: 200px;
  position:relative;
}


} //ends who

} //ends query
